// Navbar brand
//
// Used for brand, project, or site names.

.navbar-brand {
  padding-top: $hive-factor * .25rem;
  padding-bottom: $hive-factor * .25rem;
}


// Navbar text
//
//

.navbar-text {

  padding-top:    $hive-factor * .425rem;
  padding-bottom: $hive-factor * .425rem;
}


// Keep as a separate element so folks can easily override it with another icon
// or image file as needed.
.navbar-toggler-icon {
  width: $hive-factor * 1.5em;
  height: $hive-factor * 1.5em;
}


// Generate series of `.navbar-toggleable-*` responsive classes for configuring
// where your navbar collapses.
.navbar-toggleable {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        .navbar-nav {
          .dropdown-menu {
            position: static;
            float: none;
          }
        }

        > .container {
          padding-right: 0;
          padding-left: 0;
        }
      }

      @include media-breakpoint-up($next) {
        .navbar-nav {
          .nav-link {
            padding-right: $hive-factor * .5rem;
            padding-left: $hive-factor * .5rem;
          }
        }
      }
    }
  }
}

